/*hello yall this is the style sheet <3 */


*{
    /* background-color: #CFC8B4; */
    color: #222B0F;
    /*this color is temporary*/
    margin: 0;
    padding: 0;
    
    

}


  .eventText {
    margin-top: 20px;
    padding: 5px 5px;
    background-color:rgb(253, 253, 253);
    border-radius: 7px;   
}

#historicalEvents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color:#222B0F
}

.eventText {
  background-color:rgb(235, 248, 248) !important;
  margin: 5px 5px;
  padding: 4px 6px;
}

#mainContent{
  display: flex;
  flex: 1 1 100vw;
}

#h1Div h1 {
  max-width: 2000px;
}


.modal {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  flex: 1 1 400px;
  max-height: 300px;
  
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
.columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  padding: 0 10px;
}

/* h2 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 8px;
} */

h3 {
  display: row;
  min-width: 200px;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

input[type="textarea"] {
  min-width: 200px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s;
}

input[type="textarea"]:focus {
  border-color: #becedb;
  box-shadow: 1 1 5px rgba(27, 130, 219, 0.5);
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: rgba(187, 176, 76, 0.4);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: rgba(187, 176, 76, 0.8);
}

.dropdown {
  position: relative;
  margin-right: 20px;
  margin-top: 5px;
  width: 300px;
}

.dropdown-trigger button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-trigger button:hover {
  border-color: #d1bf57;
  background-color: rgba(187, 176, 76, 0.1)
}

.dropdown-trigger button .icon {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 170px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 8px 8px;
  display: none;
}

.dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
  
}

.dropdown-content {
  width: 100%;
  border: 0px;
}

.dropdown-item {
  /* padding: 8px 16px; */
  font-size: 0.9rem;
  color: #333;
  border:rgb(255, 255, 255);
}

.button {
  width: 145px;
  border: none;
}

.dropdown-divider {
  height: 1px;
  background-color: #ddd;
  margin: 4px 0;

}

#imgElem img {
  display: flex;
  flex: 1 1 350px;
  margin-bottom: 20px;
  margin-top: 0px;
  max-height: 600px;
  box-shadow: 3px 3px 10px rgba(70, 64, 64, 0.6);
}

.imgBtn {
  min-width: 70px;
  border: none;
  min-height: 30px;
  border-radius: 5px;
  background-color:rgba(27, 130, 219, 0.1);
  margin-bottom: 40px;
}

#imgTitle {
  padding-bottom: 20px;
  padding-top: 35px;
  font-size: 45px;
  color:#333
}