/*hello yall this is the style sheet <3 */


*{
    /* background-color: #CFC8B4; */
    color: #222B0F;
    /*this color is temporary*/
    margin: 0;
    padding: 0;
    
    

}


  .eventText {
    margin-top: 20px;
    padding: 5px 5px;
    background-color:rgb(253, 253, 253);
    border-radius: 7px;   
}

#historicalEvents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color:#222B0F
}

.eventText {
  background-color:rgb(235, 248, 248) !important;
  margin: 5px 5px;
  padding: 4px 6px;
}

#mainContent{
  display: flex;
  flex: 1 1 100vw;
}

#h1Div h1 {
  max-width: 2000px;
}


.modal {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  flex: 1 1 400px;
  max-height: 300px;
  
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}