/*hello yall this is the style sheet <3 */

*{
    background-color: beige;
    /*this color is temporary*/
    margin: 0;
    padding: 0;

}
.navbar-burger{
    transform: translateX(0);
}
.navbar-item{
    position: fixed ;
    margin-left: 3ch;

}
.menu-items{
    list-style-type: none;
    display: none;
}